#### Postgres

POSTGRES_DB=postgres_db
# change in docker-compose healthcheck
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_PORT=5432
POSTGRES_HOST=postgres_database

DEFAULT_ADMIN_USER_EMAIL=admin3@ukr.net
DEFAULT_ADMIN_USER_PASSWORD=password1
DEFAULT_ADMIN_USER_NAME=admin

#### Postgres monitoring
## PGADMIN
PGADMIN_DEFAULT_EMAIL=test@user.com
PGADMIN_DEFAULT_PASSWORD=root
PGADMIN_PORT=5050

#### PROJECT
DEBUG=true
JWT_SECRET=ejgkjlcghhhhh56gfn65nfg56nfg56nfg
JWT_ALGORITHM=HS256

#### Redis and Redis GUI
REDIS_PASSWORD=my-password
REDIS_PORT=6379
REDIS_DATABASES=2
REDIS_HOST=redis
