{% extends 'components/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center ">
      <div class="col-md-6">
        <div class="alert alert-success text-center" role="alert">
          <h4 class="alert-heading">Для завершення реєстрації підтвердіть вашу електнонну пошту</h4>
          <p>Ми надіслали листа на вашу електронну адресу з посиланням для активації вашого акаунту. Перевірте ваш поштовий ящик (не забудьте перевірити папку "Спам").</p>
          <hr>
          <p class="mb-0">Якщо ви не отримали листа, <a href="#">натисніть тут</a>, щоб надіслати новий лист. (не реалізовано!!!)</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}