<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Main page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        {% if user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>

        </li>
                  <li class="nav-item">

          <a class="nav-link" href="{{ url_for('socket_messages') }}">Messages</a>
        </li>

        {% endif %}

 {% if user and user.is_admin %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin links
          </a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="/documentation">Documentation</a></li>
            <li><a class="dropdown-item" href="/api/admin">Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>

      {% endif %}
  </ul>

      <button id="theme-toggle" class="btn btn-outline-secondary me-2">🌘</button>

      <form class="d-flex" role="search" method="post" action="{{ url_for('index') }}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" minlength="3">
        <button class="btn btn-outline-success me-2 " type="submit">Search</button>
      </form>

            <!-- Кнопки логіну та реєстрації -->
      <div class="d-flex">
        {% if user %}
          <button type="button" class="btn btn-light" data-bs-toggle="popover" data-bs-title="Additional info" data-bs-content="Created at: {{user.created_at}}">USER: {{ user.name }}</button>
          <a href="{{ url_for('logout') }}" class="btn btn-outline-primary me-2 ">Logout</a>
          <a href="{{ url_for('force_logout') }}" class="btn btn-outline-primary me-2 ">Force logout</a>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a>
          <a href="{{ url_for('register') }}" class="btn btn-outline-primary me-2 ">Register</a>
        {% endif %}
      </div>

    </div>
  </div>
</nav>